@using SelliT.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Invoice";
}

<table class = "table">
    <thead>
        <tr>
            <th> Lp. </th>
            <th> Nazwa </th>
            <th class="text-right"> Ilość </th>
            <th class="text-right"> Jm  </th>
            <th class="text-right"> Cena netto </th>
            <th class="text-right"> Wartość netto </th>
            <th class="text-right"> VAT </th>
            <th class="text-right"> Kwota VAT </th>
            <th class="text-right"> Wartość brutto </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            @Html.Partial("InvoiceSummary", p);
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-right">Razem: </td>
            <td class="text-right"></td>
        </tr>
    </tfoot>
</table>


