<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SelliT Invoicing App </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
<!--
<div class="jumbotron">
    <center>
        <h2> SelliT <i> Invoicing App </i> </h2>
    </center>
</div>-->

    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href=""><center><h2> SelliT <i> Invoicing App </i></h2></center></a>

        <div class="container-fluid">
            <div class="navbar-footer">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <nav class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a>O Firmie</a></li>
                    <li><a>Kontakt</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--
                                       <li><a >blog/add"> + Nowy Wpis </a></li>
                                       <li><a >blog/archive"> Archiwum </a></li>
                                       <li><a >user/logout">Logout</a></li>
                                         -->
                    <li><a>Login</a></li>
                    <li><a>Register</a></li>

                </ul>

            </nav>
        </div>
    </div>
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu","Nav")
        </div>
        <div class="col-xs-8">
                @RenderBody()
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>&copy; @DateTime.Now.Year - SelliT <i> Invoicing App </i></p>
    </footer>

</body>
</html>